h1, h2 {
  font-size: 60px;
  text-align: center;
  font-family: arial;
  margin: 10px;
}

button {
  display: block;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  cursor: url(../img/crowbar.png), auto;
}

.container:active {
  cursor: url(../img/crowbar-tilted.png), auto;
}

.water {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.water::after {
  content: '';
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/water.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.tako {
  width: 100%;
  height: 100%;
  background: url(../img/takodachi.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.water.appear .tako {
  top: -15px;
}